   {% load static %}
   <li>
             <article class="post">
                  <a href="">
                    <img src="{% static 'blog/images/django_image.png' %}" alt="code image">
                    <div class="post_content">
                        <h3>Learn to Code</h3>
                        <p>Learn to code is like playing foot ball. It needs training
                             each and every day in order to master it.</p>
                    </div>
                </a>
                </article>
            </li>