body{
    background-color: #f5f5f5;
}

#main-navigation{
    background-color: #390281;
    box-shadow: 0 2px 8px rgba(0,0,0,0.25);
}

#summary{
    margin: 8rem auto 3rem auto;
    padding: 2rem;
    width: 90%;
    max-width: 90rem;
       border-radius: 16px;
    background-color: #5706c0;
    position: relative;
    box-shadow: 0 2px 8px rgba(0,0,0,0.25);
    height: 22rem;
}

#summary h2{
    font-size: 4.5rem;
    color: white;
    margin-bottom: 0.25rem;
}

#summary article{
    position: absolute;
    top: 2rem;
    right: 2rem;
    padding: 1rem 2rem;
    border-radius: 12px;
    text-align: right;
    color: white;
}

#summary article img{
    width: 12rem;
    height: 12rem;
    border-radius: 12px;
    transform: rotateZ(5deg);
    margin-top: 1rem;
}

#summary address{
    margin-top: 1rem;
    font-weight: bold;
}

#summary a{
  color: #FFFAFA ;
  text-decoration: none ;
}

#summary time{
    font-weight: bold;
    font-style: italic;
}

main{
    margin: 1rem auto 2rem auto;
    padding: 1rem;
    width: 90%;
    max-width: 90rem;
    border-radius: 16px;
    background-color: #f2eff7;
    position: relative;
    box-shadow: 0 2px 8px rgba(0,0,0,0.25);
}

.tag{
    background-color: white;
    border-radius: 12px;
    padding: 0.5rem 1rem;
    color: purple
}

#comment-form{
    margin: 3rem auto;
    padding: 1rem;
    width: 50%;
    max-width: 90rem;
    border-radius: 16px;
    background-color: #f2eff7;
    box-shadow: 0 2px 8px rgba(0,0,0,0.25);
}
#comment-form button{
    font: inherit;
    background-color: #390281;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    font: inherit;
    cursor: pointer;
}

#comment-form button:hover, #comment-form button:active{
    background-color: #2544f3;
    color: white;
}

.form-control{
    border-radius: 6px;
    margin-bottom: 1rem;
}

.form-control label{
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.form-control input, .form-control textarea{
    display: block;
    font: inherit;
    width: 90%;
    padding: 0.25rem;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.errorlist{
    list-style: none;
    margin: 0.5rem 0;
    padding: 0;
    color: red;
}
.invalid label{
   color: red;
}

.invalid input, .invalid textarea{
    background-color: rgb(243, 234, 234);
    border: 1px solid red;
}

#error-alert{
    margin: 8rem auto 3rem auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
    border: 1px solid red;
    border-radius: 16px;
    background-color: #ffe6e7;
}

#error-alert a{
    text-decoration: none;
   border: 1px solid #d6000b;
    background-color: #d6000b;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
}

#comments{
     margin: 8rem auto 3rem auto;
    padding: 1rem 2rem;
    width: 90%;
    max-width: 60rem;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.25);
}

#comments ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#comments li{
   margin-bottom: 1rem;
   border-bottom: 2px solid #ccc;
}

#comments li:last-of-type{
    border-bottom: none;
}

#read-later{
    margin: 2rem 0;
}

#read-later button{
    background-color: transparent;
    font: inherit;
    cursor: pointer;
    color: white;
    border: 1px solid white;
    padding: 0.5rem 2rem;
}

#read-later button:hover, #read-later button:active{
    background-color: white;
    color: #390281;
}