{% extends 'base.html' %}
{% load static %}
{% block title %}
 My Blog
{% endblock  %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/post.css' %}">
<link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock  %}
{% block content %}
    <section id="welcome">
      <header>
        <img src="{% static 'blog/images/getch.jpg' %}" alt="author image">
        <h2>GETACHEW's BLOG</h2>
      </header>
      <p>Hi, I am Getch and I love to blog about technology and personal development</p>
    </section>
    <section id="latest-posts">
        <h2>My Latest Posts</h2>
        <ul>
         {% include "blog/includes/post.html" %}
        </ul>
    </section>
    <section id="about">
        <h2>What I Do!</h2>
        <p>I love Coding,I love telling others what I have about programming. and also I enjoy exploring new technologies in general</p>
        <p>My goal is to keep growing as a developer and also make a solution for major problems in our area.</p>
    </section>
{% endblock  %}